In [33]:
import pandas as pd
import numpy as np

In [235]:
# 今天有需要計算每年用戶資料的變動度，透過以下方法計算
df = pd.DataFrame({
    "time":[2021, 2020, 2019, 2018, 2017, 2016],
    "user":['Aiden', 'Aiden', 'Aiden', 'Biden', 'Biden','Biden'],
    "money":[100000, 200000, 100000, 102000, 100000, 40000],
    "invest":[1000050, 2000500, 100040, 1020030, 100002, 40001],
})

In [236]:


diff = pd.Series([], dtype='float64') 

diff_key = ['money', "invest"]

res_dct = {diff_key[i]: v+"_diff"  for i, v in enumerate(diff_key)}

diff_df = pd.DataFrame( [], columns=list(res_dct.values()))
for u in df.user.unique().tolist():
    user_df = df[df.user == u].sort_values(by=['time'])
    tmp = user_df[['money', 'invest']].diff().replace(np.nan, 0).rename(res_dct, axis=1)
    diff_df = diff_df.append(tmp)
    
    
df = pd.concat([df, diff_df], axis=1)
print(df)

   time   user   money   invest  money_diff  invest_diff
0  2021  Aiden  100000  1000050   -100000.0   -1000450.0
1  2020  Aiden  200000  2000500    100000.0    1900460.0
2  2019  Aiden  100000   100040         0.0          0.0
3  2018  Biden  102000  1020030      2000.0     920028.0
4  2017  Biden  100000   100002     60000.0      60001.0
5  2016  Biden   40000    40001         0.0          0.0

In [183]:
s0 = pd.Series([], dtype='float64')
s1 = pd.Series([1, 2, 3], index=[0,1,2])
s0 = s0.append(s1)
s2 = pd.Series([1, 2, 3], index=[3,4,5])
s0.append(s2)

0    1
1    2
2    3
3    1
4    2
5    3
dtype: int64

In [58]:
new_df

   time   user   money money_last_year money_delta  money_delta_pct
2  2019  Aiden  100000               0      100000             0.00
1  2020  Aiden  200000          100000      100000             1.00
0  2021  Aiden  100000          200000     -100000            -0.50
5  2016  Biden   40000               0       40000             0.00
4  2017  Biden  100000           40000       60000             1.50
3  2018  Biden  102000          100000        2000             0.02

In [59]:
df['money'].diff()

0         NaN
1    100000.0
2   -100000.0
3      2000.0
4     -2000.0
5    -60000.0
Name: money, dtype: float64